.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.p{
  font-size: small;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
 
}
.info{
  margin-top: 20px;
}



.footer-link{
  color: white;
}


input[type="text"], button[type="submit"], 
select[type="text"] ,input[type="password"],
textarea[type="textarea"]{
  margin:5px ;
  width: 500px;
  padding: 10px;
  border-radius: 20px;

}

@media(max-width : 700px){
 .btn-pay,.btn, 
input[type="text"], button[type="submit"], 
select[type="text"] ,input[type="password"]
,textarea[type="textarea"]{
  margin:5px ;
  width: 290px;
  padding: 10px;
  border-radius: 20px;

}

a, .nav-link{
  pointer-events: none;

}

}



.menu, .footer-down{
  background-color: #87CEEB;
  color: white;
  z-index: 20;

}

.sidebar-page{
  position: absolute;
  right:10;
  bottom:10;


}



.footer{
  max-width: 100%;
  margin-top: 90px;
  font-size: small;
}

.profile-image{
  margin-top: 30px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}





.copyright{
  margin-top: 20px;
}


.fa1{
  padding: 20px;
  background: white;
  color:#87CEEB;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}



 